# Arquivo .gitignore para o projeto Ponte Segura

# Ignorar o ambiente virtual
venv/
env/
.env

# Ignorar arquivos do Python e cache do Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3

# Arquivos de IDE
.vscode/
.idea/

# Outros
*.log
.DS_Store
